.container{
  flex-direction: column;
  justify-content: space-around;
  
  height: 80vh;
  width: min(80vw,800px);
  background-color: #FFE194;
  border-radius: 5px;
}
.word{
  color: rgb(85, 73, 73);
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  
}
.title{
  position:absolute;
  top: .5rem;
  color: yellow;
}
.App{
  width: 100vh;
  width: 100vw;
  flex-direction: column;
}
#textarea{
  width: min(60vw,750px);
  height: min(200px,30vh);
  border-radius: 5px;
  border-style: none;
  background-color: aquamarine;
  font-size: 1.2rem;
  outline-style: none;
}
.bw{
  justify-content: space-between;
  width: min(400px,50vw);
}
button{
  background-color: rgb(20, 87, 244);
 border: 1px solid rgb(20, 87, 244);
 padding: 10px 15px;
 border-radius: 7px;
 transition: .3s;
 color: #fff;
}
button:hover {
  border: 1px solid rgb(255, 145, 1);
  background-color: rgb(255, 145, 1);
  color: rgb(0, 0, 0);
 }